$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

$gray-bg: #4a565e;
$gray-border: #acadad;
$red: #eb0000;
$white: #fff;

// @import 'sass-bootstrap/lib/bootstrap';

// Core variables and mixins
@import "sass-bootstrap/lib/variables";
@import "sass-bootstrap/lib/mixins";

// Reset
@import "sass-bootstrap/lib/normalize";
@import "sass-bootstrap/lib/print";

// Core CSS
@import "sass-bootstrap/lib/scaffolding";
@import "sass-bootstrap/lib/type";
@import "sass-bootstrap/lib/grid";
@import "sass-bootstrap/lib/buttons";

// Components
@import "sass-bootstrap/lib/component-animations";
@import "sass-bootstrap/lib/navs";
@import "sass-bootstrap/lib/navbar";

// Utility classes
@import "sass-bootstrap/lib/utilities";
@import "sass-bootstrap/lib/responsive-utilities";

// Base & Layout
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    background: url('../images/bg.png') $gray-bg no-repeat center top;
}

main {
    img {
        width: 100%;
        height: auto;
        border-radius: 3px;
    }
}


// Modules
@import 'modules';

// Elements
.btn-default {
    @include gradient-vertical(#d09a49, #b45929, 0%, 100%);
    background-color: #b45929;
    border: transparent;
    border-color: none;
    border-radius: 15px;
    color: $white;
    padding: 10px 20px;
}

.btn-default:hover, .btn-default:focus {
    background-color: transparent;
    border: transparent;
    color: darken($white, 15%);
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 960px;
    }
    .navbar-nav > li:not(:last-child) > a:after {
        position: absolute;
        right: 0;
        top: -10px;
        height: 40px;
        width: 1px;
        border-right: 1px dotted #c9c9c9;
        content: " ";
    }

    .navbar-nav > li.active:after {
        position: absolute;
        top: 47px;
        right: 0;
        width: 100%;
        height: 3px;
        background-color: $red;
        content: " ";
    }
    .hero {
        height: 500px;
        padding-top: 150px;
    }
}

// Responsive: Landscape tablets and narrower
@media screen and (max-width: 768px) {
    .navbar-nav > li > a {
        padding: 3px 15px;
    }
    .hero {
        height: 350px;
        padding-top: 50px;
    }
}